name: dagger
on:
  push:
    branches: [master]

jobs:
  run-dagger:
    name: Run Dagger Pipeline
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Kit
        uses: jozu-ai/gh-kit-setup@v1.0.0

      - name: Run kit unpack
        run: |
            kit version
            kit unpack ghcr.io/jozu-ai/phi3:3.8b-mini-instruct-4k-q4_K_M --model -d models/Phi-3-mini-4k-instruct-q4.gguf
    
      - name: test
        run: |
            ls
            pwd

      - name: Call Dagger Function
        uses: dagger/dagger-for-github@v6
        with:
          version: "latest"
          verb: call --registry ghcr.io
          module: github.com/jozu-ai/modelkit-factory/modules/kit@be110f46791083f69c44a509a7d2a667da50d6e3
          args: with-auth --username techtacles --password env:$KIT_PAT pack --directory . --reference ghcr.io/techtacles/kitops-dagger:$TAG --kitfile Kitfile push --reference ghcr.io/techtacles/kitops-dagger:$TAG
          cloud-token: ${{ secrets.DAGGER_CLOUD_TOKEN }}
        env:
            KIT_PAT: ${{ secrets.KIT_PAT }}
            TAG: champion
